.header {
	margin:25px;
	height: 30%;
	background-image:url('../img/header.jpg');
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center;
	background-origin: center	
}

.body {
	margin: 25px 295px;
	height: 500px;
	width: 600;
	background-color:gray;
}

html {
	background-color: red;
}